USE Pet_DevExtreme

GO
CREATE TABLE [customer](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[firstname] [nvarchar](80) NULL,
	[lastname] [nvarchar](20) NULL,
	[fullname] [nvarchar](100) NULL,
	[fullname_display] [nvarchar](100) NULL,
	[avatar] [nvarchar](200) NULL,
	[gender_id] [tinyint]  NULL,
	[date_of_birth] [date]  NULL,
	[email] [varchar](50) NULL,
	[mobile_phone] [varchar](20) NULL,
	[phone] [varchar](20) NULL,
	[permanent_province_id] [int] NULL,
	[permanent_district_id] [int] NULL,
	[permanent_ward_id] [int] NULL,
	[permanent_address] [nvarchar](100) NULL,
	[temporary_province_id] [int] NULL,
	[temporary_district_id] [int] NULL,
	[temporary_ward_id] [int] NULL,
	[temporary_address] [nvarchar](100) NULL,
	[status_id] [int] NULL,
	[is_active] [bit] NULL,
)