USE [MMS]
GO
/****** Object:  Table [dbo].[metacombobox]    Script Date: 11/22/2022 1:28:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[metacombobox](
	[id] [int] NOT NULL,
	[code] [varchar](20) NULL,
	[external_code] [varchar](20) NULL,
	[name_meta] [nvarchar](800) NULL,
	[sort] [int] NULL,
	[is_active] [bit] NULL,
	[parent_id] [int] NULL,
	[create_date] [datetime] NULL,
	[status_id] [int] NULL,
 CONSTRAINT [PK__metacomb__3213E83F15114DC5] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[metadata]    Script Date: 11/22/2022 1:28:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[metadata](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NOT NULL,
	[group_text] [nvarchar](200) NOT NULL,
	[item_id] [int] NOT NULL,
	[item_code] [varchar](20) NULL,
	[item_text] [nvarchar](800) NULL,
	[description] [nvarchar](800) NULL,
	[sort] [int] NULL,
	[is_active] [bit] NULL,
	[external_code] [varchar](20) NULL,
	[OptimisticLockField] [int] NULL,
	[GCRecord] [int] NULL,
	[author_code] [varchar](20) NULL,
	[created_date] [datetime2](7) NULL,
	[approver_code] [varchar](20) NULL,
	[approved_date] [datetime2](7) NULL,
	[updated_code] [varchar](20) NULL,
	[updated_date] [datetime2](7) NULL,
	[approver_update_code] [varchar](20) NULL,
	[approved_update_date] [datetime2](7) NULL,
	[status_id] [int] NULL,
 CONSTRAINT [PK_metadata] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[metacombobox] ([id], [code], [external_code], [name_meta], [sort], [is_active], [parent_id], [create_date], [status_id]) VALUES (1, N'ECOCLASS', NULL, N'MÃ NGÀNH KINH TẾ BAN HÀNH KÈM THEO QUYẾT ĐỊNH SỐ 27/2018/QĐ-TTG', 0, 1, NULL, CAST(N'2022-07-05T13:31:40.713' AS DateTime), NULL)
INSERT [dbo].[metacombobox] ([id], [code], [external_code], [name_meta], [sort], [is_active], [parent_id], [create_date], [status_id]) VALUES (2, N'A', NULL, N'NÔNG NGHIỆP, LÂM NGHIỆP VÀ THUỶ SẢN', 0, 1, 1, CAST(N'2022-07-05T13:26:55.830' AS DateTime), NULL)
INSERT [dbo].[metacombobox] ([id], [code], [external_code], [name_meta], [sort], [is_active], [parent_id], [create_date], [status_id]) VALUES (3, N'B', NULL, N'KHAI KHOÁNG', 0, 1, 1, CAST(N'2022-07-05T13:26:55.830' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[metadata] ON 

INSERT [dbo].[metadata] ([id], [group_id], [group_text], [item_id], [item_code], [item_text], [description], [sort], [is_active], [external_code], [OptimisticLockField], [GCRecord], [author_code], [created_date], [approver_code], [approved_date], [updated_code], [updated_date], [approver_update_code], [approved_update_date], [status_id]) VALUES (1, 0, N'POORHOUSEHOLDTYPE', 1, NULL, N'Nghèo', NULL, 1, 1, NULL, NULL, NULL, N'string', CAST(N'2022-03-25T02:20:28.0833333' AS DateTime2), NULL, NULL, N'string', CAST(N'2022-03-25T02:20:28.0833333' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[metadata] ([id], [group_id], [group_text], [item_id], [item_code], [item_text], [description], [sort], [is_active], [external_code], [OptimisticLockField], [GCRecord], [author_code], [created_date], [approver_code], [approved_date], [updated_code], [updated_date], [approver_update_code], [approved_update_date], [status_id]) VALUES (2, 0, N'POORHOUSEHOLDTYPE', 2, NULL, N'Cận nghèo', NULL, 2, 1, NULL, NULL, NULL, N'string', CAST(N'2022-03-25T02:20:28.0833333' AS DateTime2), NULL, NULL, N'string', CAST(N'2022-03-25T02:20:28.0833333' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[metadata] ([id], [group_id], [group_text], [item_id], [item_code], [item_text], [description], [sort], [is_active], [external_code], [OptimisticLockField], [GCRecord], [author_code], [created_date], [approver_code], [approved_date], [updated_code], [updated_date], [approver_update_code], [approved_update_date], [status_id]) VALUES (3, 0, N'OCCUPATION', 1, NULL, N'Xe ôm', NULL, 3, 1, NULL, NULL, NULL, N'string', CAST(N'2022-03-25T02:20:28.0833333' AS DateTime2), NULL, NULL, N'string', CAST(N'2022-03-25T02:20:28.0833333' AS DateTime2), NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[metadata] OFF
GO
ALTER TABLE [dbo].[metacombobox] ADD  CONSTRAINT [DF__metacombob__sort__1E3B458B]  DEFAULT ((0)) FOR [sort]
GO
ALTER TABLE [dbo].[metacombobox] ADD  CONSTRAINT [DF__metacombo__is_ac__1F2F69C4]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[metacombobox] ADD  CONSTRAINT [DF__metacombo__creat__2117B236]  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[metadata] ADD  CONSTRAINT [DF__metadata__sort__569ECEE8]  DEFAULT ((0)) FOR [sort]
GO
ALTER TABLE [dbo].[metadata] ADD  CONSTRAINT [DF__metadata__is_act__5792F321]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[metadata] ADD  CONSTRAINT [DF_metadata_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[metacombobox]  WITH CHECK ADD  CONSTRAINT [FK__metacombo__paren__20238DFD] FOREIGN KEY([parent_id])
REFERENCES [dbo].[metacombobox] ([id])
GO
ALTER TABLE [dbo].[metacombobox] CHECK CONSTRAINT [FK__metacombo__paren__20238DFD]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giá trị kiểu code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'metadata', @level2type=N'COLUMN',@level2name=N'item_code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã liên kết bên ngoài' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'metadata', @level2type=N'COLUMN',@level2name=N'external_code'
GO
