USE [Pet_DevExtreme]
GO
/****** Object:  Table [dbo].[City]    Script Date: 11/18/2022 2:57:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](50) NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[city_district]    Script Date: 11/18/2022 2:57:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city_district](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[city_id] [int] NULL,
	[district_id] [int] NULL,
 CONSTRAINT [PK_city_district] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[district]    Script Date: 11/18/2022 2:57:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[district](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[district] [nvarchar](50) NULL,
 CONSTRAINT [PK_district] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 11/18/2022 2:57:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[SchedulerID] [int] IDENTITY(1,1) NOT NULL,
	[DoB] [date] NULL,
	[Name] [nvarchar](max) NULL,
	[ClassStudent] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[city_id] [int] NULL,
	[district_id] [int] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[SchedulerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [City]) VALUES (1, N'TP HCM')
INSERT [dbo].[City] ([Id], [City]) VALUES (2, N'TP Thủ Đức')
INSERT [dbo].[City] ([Id], [City]) VALUES (3, N'Đồng Nai')
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[city_district] ON 

INSERT [dbo].[city_district] ([id], [city_id], [district_id]) VALUES (1, 1, 1)
INSERT [dbo].[city_district] ([id], [city_id], [district_id]) VALUES (2, 2, 2)
INSERT [dbo].[city_district] ([id], [city_id], [district_id]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[city_district] OFF
GO
SET IDENTITY_INSERT [dbo].[district] ON 

INSERT [dbo].[district] ([id], [district]) VALUES (1, N'Quận 1')
INSERT [dbo].[district] ([id], [district]) VALUES (2, N'Quận 2')
INSERT [dbo].[district] ([id], [district]) VALUES (3, N'Quận 3')
SET IDENTITY_INSERT [dbo].[district] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([SchedulerID], [DoB], [Name], [ClassStudent], [HinhAnh], [city_id], [district_id]) VALUES (1, CAST(N'2000-07-26' AS Date), N'Tran Huu Sang', N'A4 ', N'C:\Users\sangt\Desktop\New folder\PetProjects_Dev_Extreme\wwwroot\css\download.jpg', 1, 6)
INSERT [dbo].[Student] ([SchedulerID], [DoB], [Name], [ClassStudent], [HinhAnh], [city_id], [district_id]) VALUES (2, CAST(N'2000-05-05' AS Date), N'ABC 3132', N'A4', NULL, 1, 6)
INSERT [dbo].[Student] ([SchedulerID], [DoB], [Name], [ClassStudent], [HinhAnh], [city_id], [district_id]) VALUES (3, CAST(N'1999-02-02' AS Date), N'C C', N'A5', NULL, 2, 10)
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
ALTER TABLE [dbo].[city_district]  WITH CHECK ADD  CONSTRAINT [FK_city_district_City] FOREIGN KEY([city_id])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[city_district] CHECK CONSTRAINT [FK_city_district_City]
GO
ALTER TABLE [dbo].[city_district]  WITH CHECK ADD  CONSTRAINT [FK_city_district_district] FOREIGN KEY([district_id])
REFERENCES [dbo].[district] ([id])
GO
ALTER TABLE [dbo].[city_district] CHECK CONSTRAINT [FK_city_district_district]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_City] FOREIGN KEY([city_id])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_City]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_district] FOREIGN KEY([district_id])
REFERENCES [dbo].[district] ([id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_district]
GO
